body, html {
    background-color: #eeeef2 !important;
    height: 100%;
    background-image: url('../../Minister/assets/images/mbr-1667x1080.jpg');
    background-repeat: repeat-y;
    background-repeat: repeat-x;
     
    
}
.login-form {
    position: relative;
    left: 20%;
    top: 10%;
    background-color: #ffffff;
    width: 60%;
    padding: 40px;
    padding-left: 60px;
    box-shadow: 2px 3px;
    border-left: 4px solid #a172ef;
    border-bottom-left-radius: 20px 24px;
    border-top-right-radius: 40px 44px;
}
.form-control{
    width:70%
}
label,.formcontrol{
    font-size:16pt;
    margin-left:5px;
}
.form-control{
    border:none;
    border-bottom:1px solid #a172ef;
}
label{
    font-size:20pt;
}
input[type=button] {
     
    font-size:18pt;
    
    position: relative;
    left: 13%;
    margin: 50px 10px 10px 10px;
    border: none;
    height: 40px;
    width: 100px;
    /*border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border:1px solid #a172ef;*/
    cursor:pointer;
    box-shadow:2px 3px;
}

input[type=text] {
    font-size:28pt;
}
h3{
    font-family:Calibri;
}
h1{
    letter-spacing:3px;
}

.loader {
    z-index:1;
    position:absolute;
    left:45%;
    top:60%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.bg {
    position: absolute;
    height: 100%;
    height: 100%;
    background-image: url('../../Minister/assets/images/mbr-1667x1080.jpg');
    background-size: cover;
    z-index: 2;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    opacity:0.4;
    transform:rotate(360deg)
}
.subtitle{
    letter-spacing:2px;
    font-size:12pt;
}