
tr:nth-child(2n+1) {
    background-color: #fbf9f9!important;
}

tr:nth-child(2n) {
    background-color: #746797 !important;
}

td {
    border: 1px solid #4f29b1 !important;
    cursor: pointer !important
}
thead tr, thead td {
    border-bottom: #000000 !important;
    border: 1px solid #83c2f7 !important;
}